In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/raimirsilva/Documents/GitHub/Sprints Projects/Sprint-6-project/games.csv')

In [3]:
display(df)

print()

df.info(show_counts=True)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

>#### Contagem de valores ausentes
>
>#### Verificação do percentual de valores ausentes por coluna

In [4]:
print(df.isna().sum())

print()

(df.isna().sum() / len(df)) * 100

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

Name                0.011965
Platform            0.000000
Year_of_Release     1.609333
Genre               0.011965
NA_sales            0.000000
EU_sales            0.000000
JP_sales            0.000000
Other_sales         0.000000
Critic_Score       51.319174
User_Score         40.089740
Rating             40.478612
dtype: float64

## Interpretações:

#### Colunas com poucos ou nenhum valor ausente:

- **Platform (0.00%)**: Todas as linhas têm informação de plataforma

- **NA_sales, EU_sales, JP_sales, Other_sales (0.00%)**: Todas as vendas estão registradas

- **Name (0.011965%)**: Quase todos os jogos têm nome (apenas ~0.01% sem nome)

- **Genre (0.011965%)**: Quase todos os jogos possuem gênero definido

#### Colunas com valores ausentes moderados:

- **Year_of_Release (1.609333%)**: ~1.6% dos jogos não têm ano de lançamento

#### Colunas com muitos valores ausentes:

- **Critic_Score (51.319174%)**: Mais da metade dos jogos (~51%) não têm avaliação de críticos

- **User_Score (40.089740%)**: ~40% não têm avaliação de usuários

- **Rating (40.478612%)**: ~40% não têm classificação ESRB

>#### Conversão dos caracteres dos nomes das colunas para caracteres minúsculos

In [5]:
df_lower_case = df.copy()

df_lower_case.columns = df_lower_case.columns.str.lower()

display(df_lower_case)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

>#### Contagem de dados duplicados

In [6]:
dupl_qnt = df_lower_case.duplicated(subset=['name', 'platform', 'year_of_release']).sum()

print(f'Quantidade de valores duplicados encontrados: {dupl_qnt}')

Quantidade de valores duplicados encontrados: 2

>#### Identificação de dados duplicados

In [7]:
display(df_lower_case[df_lower_case.duplicated(subset=['name', 'platform', 'year_of_release'], keep=False)].sort_values(by='name'))

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
604,Madden NFL 13,PS3,2012.0,Sports,2.11,0.22,0.00,0.23,83.0,5.5,E
16230,Madden NFL 13,PS3,2012.0,Sports,0.00,0.01,0.00,0.00,83.0,5.5,E
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,NaN,NaN,NaN
14244,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,NaN,NaN,NaN

>#### Tratamento de dados duplicados

In [8]:
df_wo_dupl = df_lower_case.drop_duplicates(subset=['name', 'platform', 'year_of_release'], keep='first').copy()

refreshed_dupl_qnt = df_wo_dupl.duplicated(subset=['name', 'platform', 'year_of_release']).sum()

print(f'Após tratamento dos dados, a quantidade de valores duplicados é: {refreshed_dupl_qnt}')

Após tratamento dos dados, a quantidade de valores duplicados é: 0

> *Ao realizar a contagem de duplicatas especifiquei colunas para trazer o resultado de duplicatas reais, 
uma vez que poderíamos ter jogos com mesmo nome em plataformas distintas, por exemplo.*

> *Utilização de keep='first' em drop.duplicates() a fim de manter a primeira ocorrência da duplicata, 
tendo em vista ser a ocorrência com dados significativos nas duas situações.*

>#### Conversão de tipo de dados da coluna year_of_release

In [9]:
df_wo_dupl['year_of_release'] = df_wo_dupl['year_of_release'].fillna(0).astype(int)

df_wo_dupl.info(show_counts=True)

display(df_wo_dupl)

<class 'pandas.core.frame.DataFrame'>
Index: 16713 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16712 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16713 non-null  int64
 3   genre            16712 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8136 non-null   float64
 9   user_score       10013 non-null  object
 10  rating           9948 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 1.5+ MB

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

>#### Identificação e visualização de dados únicos da coluna user_score

In [10]:
print(df_wo_dupl['user_score'].unique())

print()

nan_user_score = df_wo_dupl[df_wo_dupl['user_score'].isna()]

display(nan_user_score)

['8' nan '8.3' '8.5' '6.6' '8.4' '8.6' '7.7' '6.3' '7.4' '8.2' '9' '7.9'
 '8.1' '8.7' '7.1' '3.4' '5.3' '4.8' '3.2' '8.9' '6.4' '7.8' '7.5' '2.6'
 '7.2' '9.2' '7' '7.3' '4.3' '7.6' '5.7' '5' '9.1' '6.5' 'tbd' '8.8' '6.9'
 '9.4' '6.8' '6.1' '6.7' '5.4' '4' '4.9' '4.5' '9.3' '6.2' '4.2' '6' '3.7'
 '4.1' '5.8' '5.6' '5.5' '4.4' '4.6' '5.9' '3.9' '3.1' '2.9' '5.2' '3.3'
 '4.7' '5.1' '3.5' '2.5' '1.9' '3' '2.7' '2.2' '2' '9.5' '2.1' '3.6' '2.8'
 '1.8' '3.8' '0' '1.6' '9.6' '2.4' '1.7' '1.1' '0.3' '1.5' '0.7' '1.2'
 '2.3' '0.5' '1.3' '0.2' '0.6' '1.4' '0.9' '1' '9.7']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,Duck Hunt,NES,1984,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

>#### Conversão do tipo de dados da coluna user_score de object para float e valores não-numéricos para NaN

In [13]:
final_df = df_wo_dupl.copy()

final_df['user_score'] = pd.to_numeric(final_df['user_score'], errors='coerce')

print(f'Após conversão, o tipo de dados agora é: {df_wo_dupl['user_score'].dtype}')

print()

print(f'Após conversão dos valores "tdb" em NaN, a quantidade de valores nulos que era de {df_wo_dupl['user_score'].isnull().sum()} agora é de: {final_df['user_score'].isnull().sum()}')

print()

print(final_df.info())

Após conversão, o tipo de dados agora é: object

Após conversão dos valores "tdb" em NaN, a quantidade de valores nulos que era de 6700 agora é de: 9124

<class 'pandas.core.frame.DataFrame'>
Index: 16713 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16712 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16713 non-null  int64
 3   genre            16712 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8136 non-null   float64
 9   user_score       7589 non-null   float64
 10  rating           9948 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB
None

> *Após conversão (errors='coerce' → converte números válidos para float e transforma valores não-numéricos em NaN), também foi feira verificação da assertividade com .info()*

## Observações gerais iniciais:

#### Foram identificados: 

- valores ausentes em quantidade significativa em 3 colunas (Critic_Score, User_Score e Rating) 

- nomes das colunas com letras maiúsculas e minúsculas

- situações isoladas de valores duplicados


#### Pontos específicos: 

- necessário converter a coluna year_of_release de float para int

- manter as colunas de vendas em float para cálculos mais precisos

- conversão do tipo de dados da coluna user_score de object para float

- a coluna user_score também traz o dado 'tbd' (to be determined), será convertido em NaN